<!<!DOCTYPE html>
<html>
  <head>
    <title> Goals </title>
    <link rel='stylesheet' href'/public/assets/style.css'/>
  </head>

<body>

<h1> here are your goals!</h1>

  <div id='goals-input'>
    <ul>
         <% for (var i=0; i < users.length; i++){ %>
             <li><%= users[i].item %></li>
         <% } %>
    </ul>
